<div class="food-container">
  <input type="button" class="btn btn-default add" value="Add item" [routerLink]="['/Food/Create']"/>
  <table class="table-container">
    <thead>
      <tr>
        <th></th>
        <th>Name</th>
        <th>Category</th>
        <th>Ingredients</th>
        <th>Quantity</th>
        <th>Price</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let food of foods">
        <!--<td><img [src]="food.imagePath" /></td>-->
        <td>{{food.name}}</td>
        <td>{{foodCategory[food.category]}}</td>
        <td>{{food.ingredients}}</td>
        <td>{{food.quantity}}</td>
        <td>{{food.price}}</td>
        <td>
          <input type="button" class="btn btn-default" value="Edit" [routerLink]="['/Food/Edit', food.ID]" />
          <input type="button" class="btn btn-default" value="Details" [routerLink]="['/Food/Details', food.ID]" />
          <input type="button" class="btn btn-default" value="Delete" [routerLink]="['/Food/Delete', food.ID]" />
        </td>
      </tr>
    </tbody>
  </table>
  <div class="galery-container">
    <!--<img src="../../../../Pictures/tablesetting.jpg" />-->
    <img src="../../../../Pictures/tablesetting.jpg" />
    <img src="../../../../Pictures/tablesetting.jpg" />
  </div>
</div>

