<h3>Add employee</h3>
<div class="form-horizontal">
  <div class="form-group">
    <label class="control-label col-md-2" for="FirstName">First Name</label>
    <div class="col-md-10">
      <input class="form-control" type="text" name="FirstName">
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-md-2" for="LastName">Last Name</label>
    <div class="col-md-10">
      <input class="form-control" type="text" name="LastName">
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-md-2" for="PhoneNumber">Phone Number</label>
    <div class="col-md-10">
      <input class="form-control" type="text" name="PhoneNumber">
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-md-2" for="Email">Email</label>
    <div class="col-md-10">
      <input class="form-control" type="text" name="Email">
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-md-2" for="Function">Function</label>
    <div class="col-md-10">
      <input class="form-control" type="text" name="Function">
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-md-2" for="StartDate">Start Date</label>
    <div class="col-md-10">
      <input class="form-control" type="text" name="StartDate">
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-md-2" for="Salary">Salary</label>
    <div class="col-md-10">
      <input class="form-control" type="text" name="Salary">
    </div>
  </div>
  <div class="col-md-offset-2 col-md-10">
    <input type="submit" value="Create" class="btn btn-default" />
    <input type="button" style="margin-left:10%;" class="btn btn-default" value="Back to Menu" (click)=" back()" />
  </div>
</div>
